- @latest.each do |run|
- run_id = run[:id]
  %div{:id => run_id, :class => 'modal fade' }
    %div{:class => 'modal-dialog alert alert-info' }
      %div{:class => 'modal-header'}
        %button{:class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          &times;
        %h3 Details for #{run[:nodename]}
      %div{:class => 'modal-body'}
        %h4
          Modified resources :
          - if run[:updated_resources].empty? then
            %span{:class => 'notice label'} No resources updated
          - else
            %ul
            - run[:updated_resources].each do |resource, resource_type|
              %li
                #{resource} (#{resource_type})
        %h4
          Run duration : #{sprintf('%.2f', run[:elapsed_time])}s
      %div{:class => 'modal-footer'}
        %button{:class => 'btn btn-primary close', 'data-dismiss'=>'modal' }
          OK


%div{:class => 'row'}
  %div{:class => 'col-md-10 col-md-offset-2'}
    %h2
      The #{@latest.count} latest runs
    - @latest.each do |run|
      - run_id = run[:id]
      - nodename = run[:nodename]
      - ago = (Time.now.to_i - (Time.parse(run[:end_time])).to_i) / 60
      %li
        %a{:href => url("/host/#{nodename}") }
          #{nodename}
        (#{ago} minutes ago) -
        %a{'data-target'=>"##{run_id}", 'data-toggle'=>'modal', 'data-backdrop' => 'true', 'data-keyboard' => 'true', :href=>'#' }
          quick view
        \-
        %a{:href => url("/run/#{run_id}") }
          detailed view

%div{:class => 'row'}
  %div{:class => 'col-md-10 col-md-offset-3'}
    %form{:method => 'get'}
      %input{:type => 'checkbox', :name=> 'updatedonly', :value => 'true', :checked => @updatedonly } |
      Filter out runs with no resources updated                                                       |
      %input{:type => "submit", :value => "Go", :class => "btn primary small", :action => "submit"}
