%div{:class => "row" }
  %div{:class => "span10" }
  - if @infos then
    %h2
      Run 
      #{@infos[:id]}

    %h3
      Details

    %div
      %ul
        %li
          %strong
            Host :
          #{@infos[:nodename]}
        %li
          %strong
            Changes :
            - if @infos[:updated_resources].empty? then
              %span{:class => "notice label"} No resources updated
            - else
            %ul
              %li
                %ul
                  %li Total resources: #{@infos[:resources_total]}
                  %li Updated resources global: #{@infos[:updated_resources_total]}
                  %li Shown updated resources: #{@infos[:updated_resources_count]}
              - @infos[:updated_resources].each do |resource, type|
                %li
                  #{resource} (#{type})
                  - unless @infos[:diffs][resource].nil?
                    %pre #{@infos[:diffs][resource]}
        %li
          %strong
            Cookbooks used:
          - if @infos[:cookbooks].empty? then
            %span{:class => "notice label"} No cookbooks in this run.
          - else
            %span
            %ul
              - @infos[:cookbooks].each do |name, version|
                %li
                  #{name} => #{version}
        %li
          %strong
            Date :
          #{@infos[:start_time]}
        %li
          %strong
            Duration :
          #{sprintf("%.2f", @infos[:elapsed_time])}s
  - else
    %h3 No such document in ElasticSearch !!
